@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap");

*{
    font-family: "Poppins", sans-serif;
}

body{
    margin: 0;
    overflow:hidden;
}

.heroSection{
    height: 33vh;
    width: 100vw;
    background-image: url("hub-pseudo-background2.jpg");
    background-size: cover;
}

.heroSection > a{
    text-decoration: none;
    color: whitesmoke;
    font-size: xx-large;
    margin-left:20px;
    line-height: 65px;
}

.hubBody{
    height: 65vh;
    display: flex;
    justify-content: space-evenly;
    padding: 20px 30px;
    /* background-color: rgb(36, 36, 36); */
    background-color: rgb(0, 0, 0);
    /* color: gray; */
    color: whitesmoke;
    /* box-shadow: 0px 0px 40px 40px rgb(36, 36, 36); */
    box-shadow: 0px 0px 40px 40px rgb(0, 0, 0);
}

.selector{
    display: flex;
    width:50%;
    justify-content: right;
    /* padding-right: 8rem; */
    padding-top: 45px;
    padding-right: 100px;
}

.select-container{
    margin-right: 10px;
    width:255.4px;
}

.model-input{
    border:none;
    appearance: none;
    padding:2.5px 30px 2.5px 15px;
    width: 100%;
    height:40px;
    color:black;
    background-color: whitesmoke;
    font-size: 15px;
    border-radius: 20px;
    margin: 5px;
}

.select-container > input{
    width: 82%;
}

.select-container .icon{
    width:50px;
    height: 100%;
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.random{
    display: flex;
}

.submitBtn{
    /* padding: 15px 40px; */
    height:40px;
    width: 85px;
    border: none;
    outline:none;
    color: rgb(214, 214, 214);
    background-color: rgb(36, 36, 36);
    cursor: pointer;
    border-radius: 20px;
    margin: 5px;
}

.Info{
    height:65vh;
    width:50%;
    align-items: center;
    padding-left: 40px;
    overflow-y:hidden;
    scroll-behavior: smooth;
}

.Info:hover{
    overflow-y: auto;
}

.Info::-webkit-scrollbar {
width: 8px;
}

.Info::-webkit-scrollbar-thumb {
background-color: rgba(102, 102, 102, 0.3);
border-radius: 4px; 
}

.Info::-webkit-scrollbar-thumb:hover {
background-color: rgba(103, 103, 103, 0.5); 
}

.Info::-webkit-scrollbar-track {
background-color: transparent; 
}

.Info > h3{
    font-size:xx-large;
}

.cropInfo > ul > li{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.cropInfo > ul{
    padding:0;
}

.cropCard{
    /* color:rgb(92, 92, 92); */
    color: rgb(214, 214, 214);
    height: 14rem;
    width: 20rem;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* border: solid 5px gray; */
    border-radius: 1rem;
    margin: 45px 0 45px 0;
    padding: 20px;
    /* background-color: rgb(89,89,89); */
    background-color: rgb(36, 36, 36);
    /* box-shadow: 0px 0px 2px 2px gray; */
    font-size: x-large;
    transition: transform 0.2s ease-in-out;
}

.cropCard:hover{
    transform: scale(1.0625);
}

.cropCard:active{
    transform: scale(0.96875);
}